In [1]:
import pandas as pd

In [3]:
fruits = {"apple":[20 , 25] , "banana":[12 , 30]}
years = [2020 , 2021]
fruits_df = pd.DataFrame(fruits, index = years)
fruits_df

      apple  banana
2020     20      12
2021     25      30

In [5]:
import pandas as pd
# Create list of indexes for two series 
indexes_hardware = ["Ram" , "Cpu" , "Gpu"]

In [7]:
# Create list of values for hardware_1 
values_hardware_1 = ["DDR5" , "Corei9" , "RTX3090"]
hardware_1 = pd.Series(values_hardware_1 , index = indexes_hardware , name = "hardware_1")
hardware_1

Ram       DDR5
Cpu     Corei9
Gpu    RTX3090
Name: hardware_1, dtype: object

In [8]:
# Create list of values for hardware_2 
values_hardware_2 = ["DDR4" , "Corei7" , "RTX3060"]
hardware_2 = pd.Series(values_hardware_2 , index = indexes_hardware , name = "hardware_2")
hardware_2

Ram       DDR4
Cpu     Corei7
Gpu    RTX3060
Name: hardware_2, dtype: object

In [9]:
system = pd.concat([hardware_1 , hardware_2] , axis=1)
system

    hardware_1 hardware_2
Ram       DDR5       DDR4
Cpu     Corei9     Corei7
Gpu    RTX3090    RTX3060